@import "./base/base.scss";
@import "./base/animations.scss";
@import "./base/typography.scss";
@import "./base/ultilities.scss";

@import "./abstracts/functions.scss";
@import "./abstracts/mixins.scss";
@import "./abstracts/variables.scss";

@import "./pages/home.scss";

@import "./components/button.scss";

@import "./layout/header.scss";
@import "./layout/grid.scss"






