.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    transition: all .2s;
    position: relative;
    animation: moveInBottom 1s ease-out 0.75s;
    animation-fill-mode: backwards;
    font-size: 1.6rem;
}

.btn--white {
    background-color: $color-white;
    color: $color-grey-dark;
    margin-top: 6rem;
    border-radius: 4rem;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn--white::after {
    background-color: $color-white;
}

.btn:hover::after {
    transform: scale(1.5);
    opacity: 0;
}

.btn-text {
    &:link,
    &:visited {
        font-size:$default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 0.1rem solid $color-primary ;
        padding: 0.3rem;
    }   
    &:hover {
        background-color: $color-primary;
        color: white;
        transition: 0.5s;
    }
}