.composition {
    position: relative;
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: .2rem;
        position: absolute;
        z-index: 1;
        &--p1 {
            left: 0;
            top: -2rem;
        }
        &--p2 {
            right: 0;
            top: 2rem;
        }
        &--p3 {
            left: 20%;
            top: 9rem;
        }
        &:hover {
            outline: .1rem solid $color-black;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 1.5rem 4rem rgba($color-black, .5);
            transition: 0.5s;
            z-index: 2;
        }

    }
    &:hover &__photo:not(:hover){
        transform: scale(.9);
        transition: 0.5s;
    }

    
}